.site-footer {
  padding: 4rem 0;
  .container {
    position: relative;
    z-index: 10;
  }
  .site-footer__top {
    .site-footer__logo {
      width: 200px;
    }
    .iso-certified {
      max-width: 120px;
    }
    .newsletter-form {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;

      button {
        margin-right: -0.25rem;
      }
    }
    .social-icons {
      li {
        a {
          color: #fff;
          background: $secondary;
          font-size: 1rem;
          width: 36px;
          height: 36px;
          margin: 0 0.75rem 0 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          position: relative;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          &:hover {
            background: $primary;
            color: #fff;
          }
          i {
            z-index: 5;
          }
        }
      }
    }
    .site-footer-menu {
      li {
        a {
          color: var(--bs-para);
          font-size: 1rem;
          margin: 0 0 1rem 0;
          position: relative;
          display: inline-block;
          -webkit-transition: padding 0.6s ease;
          -o-transition: padding 0.6s ease;
          transition: padding 0.6s ease;
          &:hover {
            color: $primary;
          }
        }
        &:last-child {
          a {
            margin: 0;
          }
        }
      }
    }
  }
  .scroll-to-top-button {
    height: 48px;
    width: 48px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.75rem;
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .button--scroll-to-top:hover {
    color: var(--colorPrimary);
  }
}
@include media-breakpoint-up(lg) {
  .site-footer {
    .site-footer__top {
      .newsletter-form {
        margin-left: 0;
        margin-right: auto;
      }
    }
    .scroll-to-top-button {
      &.scroll-to-top-button--show {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
