.site-header {
  position: sticky;
  top: 0px;
  width: 100%;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1040;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  .site-header__top {
    .badge-block {
      padding: 0 2.5rem;
      span {
        font-size: 0.875rem;
      }
    }
  }
  .site-header__bottom {
    background: #fff;
    .site-header__logo {
      width: auto;
      -webkit-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      img {
        border-radius: 0px;
        width: 80px;
      }
    }
    .site-header__nav {
      ul {
        li {
          position: relative;
          a {
            color: $dark;
            padding: 1.875rem 0.6375rem 1.25rem 0.6375rem;
            font-weight: 600;
            font-size: 0.9375rem;
            margin: 0 0.375rem;
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            &::before {
              content: "";
              display: block;
              position: absolute;
              bottom: -8px;
              left: 0;
              width: 100%;
              -webkit-transform: scaleX(0);
              -ms-transform: scaleX(0);
              transform: scaleX(0);
              background: $secondary;
              height: 3px;
              opacity: 0;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
            }
            &:hover {
              color: $secondary;
            }
          }
          a.active {
            color: $secondary;
            &::before {
              -webkit-transform: scaleX(1);
              -ms-transform: scaleX(1);
              transform: scaleX(1);
              opacity: 1;
            }
          }
          &:hover {
            a {
              &::before {
                -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                transform: scaleX(1);
                opacity: 1;
              }
              .dropdown-icon {
                i {
                  -webkit-transform: rotate(180deg);
                  -ms-transform: rotate(180deg);
                  transform: rotate(180deg);
                }
              }
            }
            .dropdown-submenu {
              opacity: 1;
              -webkit-transform: translateY(0px);
              -ms-transform: translateY(0px);
              transform: translateY(0px);
              pointer-events: auto;
            }
          }
          .dropdown-icon {
            i {
              -webkit-transform: none;
              -ms-transform: none;
              transform: none;
              -webkit-transition: -webkit-transform 0.3s ease-in-out;
              transition: -webkit-transform 0.3s ease-in-out;
              -o-transition: transform 0.3s ease-in-out;
              transition: transform 0.3s ease-in-out;
              transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            }
          }
          .dropdown-submenu {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            background: #fff;
            -webkit-box-shadow: 0px 1px 3px 0px rgb(0, 0, 0, 0.2), 0px 1px 1px 0px rgb(0, 0, 0, 0.14), 0px 2px 1px -1px rgb(0, 0, 0, 0.12);
            box-shadow: 0px 1px 3px 0px rgb(0, 0, 0, 0.2), 0px 1px 1px 0px rgb(0, 0, 0, 0.14), 0px 2px 1px -1px rgb(0, 0, 0, 0.12);
            opacity: 0;
            -webkit-transform: translateY(16px);
            -ms-transform: translateY(16px);
            transform: translateY(16px);
            pointer-events: none;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            a {
              font-size: 0.8rem;
              color: var(--colorHeading);
              padding: 0.75rem 1rem;
              display: block;
              margin: 0;
              &::before {
                display: none;
              }
              &:hover {
                background: var(--colorLightBg);
                color: var(--colorPrimary);
              }
            }
          }
        }
      }
    }
    .site-header__cta-wrapper {
      a {
        font-size: 1.5rem;
        color: $dark;
        margin-left: 0.75rem;
        padding: 0.125rem;
        position: relative;

        .value {
          width: 18px;
          height: 18px;
          background: $secondary;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-size: 0.75rem;
          position: absolute;
          top: -2px;
          right: -6px;
        }
        &.site-header__button--search {
          font-size: 1.4rem;
        }
        &.site-header__button--account {
          font-size: 2rem;
        }
        &.site-header__button--cart {
          margin-top: -0.25rem;
        }
      }
      .site-header__my-account {
        .dropdown-toggle {
          color: var(--colorPrimary);
          padding: 0 0.25rem;
          span {
            i {
              font-size: 1.25rem;
            }
          }
          .my-account__text {
            line-height: 1.2em;
            font-size: 0.9375rem;
          }
        }
      }
      .site-header__button--nav-toggler {
        font-size: 2rem;
        color: var(--colorHeading);
        border-radius: 5px;
      }
    }
    .mega-menu {
      position: absolute;
      left: 0;
      top: 80px;
      width: 100%;
      min-height: 350px;
      opacity: 0;
      pointer-events: none;
      padding: 1.25rem;
      transition: all 0.3s ease-in-out;

      .grid-wrapper {
        display: flex;

        .grid-item {
          flex: 0 0 20%;
          p {
            text-transform: uppercase;
          }
          .sub-items-list {
            li {
              margin: 0 0 0.5rem 0;
              a {
                padding: 0.25rem 0;
                margin: 0;
                font-size: 0.8325rem;
                display: block;
                color: $dark;

                &:before {
                  display: none;
                }

                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
      }

      &.show {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .offcanvas {
    .btn-close {
      -webkit-filter: invert(1) brightness(1);
      filter: invert(1) brightness(1);
    }
    .site-header__mobile-nav {
      ul {
        li {
          a {
            color: rgba(255, 255, 255, 0.75);
            font-weight: 500;
            padding: 0.5rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            text-transform: uppercase;
            font-size: 0.9375rem;
            letter-spacing: 0.5px;
            width: 100%;
            &:hover {
              color: #fff;
            }
          }
          &:last-child {
            a {
              border-bottom: none;
            }
          }
          a.active {
            color: #fff;
          }
          .dropdown-submenu {
            padding-left: 1rem;
            li {
              a {
                font-size: 0.9rem;
                color: rgba(255, 255, 255, 0.75);
                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    &.offcanvas-end {
      width: 100vw;
    }
  }
  .search-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.85);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

    .search-form-container__btn--close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 1.5rem;
    }

    .search-form {
      .form__field {
        background: #fff;
        border: 1px solid $border-color;
        padding: 0.25rem;
        border-radius: 60px;

        input {
          border: 0;
          border-radius: 60px;
          padding: 0.5rem 1rem;
          font-size: 1.0625rem;
          font-weight: 600;
          color: $dark;

          &::placeholder {
            font-weight: 400;
          }

          &:focus {
            outline: 0;
            border: 0;
          }
        }

        .search-form__btn--search {
          width: 48px;
          height: 48px;
          font-size: 1.25rem;
          border-radius: 50%;
          background: $primary;
          border: 0;
          box-shadow: 0;
          color: #fff;
        }
      }
    }
    &.search-form-container--shown {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
    }
  }
  &.site-header--shrinked {
    background: #fff;
  }
}
@include media-breakpoint-up(sm) {
  .site-header {
    .site-header__bottom {
      .site-header__logo {
        img {
          width: 110px;
        }
      }
    }
    .offcanvas {
      &.offcanvas-end {
        width: 360px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .site-header {
    .site-header__bottom {
      .site-header__logo {
        img {
          width: 100%;
        }
      }
      .site-header__cta-wrapper {
        .site-header__my-account {
          .dropdown-toggle {
            &::after {
              margin: 1.25rem 0 0 0.5rem;
            }
            span {
              i {
                font-size: 1.5rem;
              }
            }
          }
        }
        .site-header__cta {
          font-size: 1.5rem;
        }
      }
    }
    .search-form-container {
      .search-form-container__btn--close {
        font-size: 1.875rem;
      }
      .search-form {
        .form__field {
          input {
            font-size: 1.25rem;
            padding: 1rem 2rem;
          }

          .search-form__btn--search {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .site-header {
    .site-header__bottom {
      background: transparent;
    }
  }
}
@include media-breakpoint-up(xl) {
  .site-header {
    .site-header__bottom {
      .site-header__nav {
        ul {
          li {
            a {
              font-size: 0.9375rem;
            }
            .dropdown-submenu {
              a {
                font-size: 0.875rem;
              }
            }
          }
        }
      }
    }
  }
}
