.dropdown-item {
  position: relative;
}
.custom-dropdown-menu {
  background: #fff;
  position: absolute;
  top: 48px;
  left: 0;
  min-width: 150px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  display: none;
  padding: 0;
  overflow: hidden;

  li {
    display: block;
    width: 100%;

    a {
      font-size: 0.9375rem !important;
      padding: 0.5rem 0.5rem !important;
      display: block;
      margin: 0 !important;
      font-weight: 500;

      &:hover {
        background: $light;
      }
    }
  }
  &.custom-dropdown-menu--show {
    display: block;
  }
}
