// Product Card Version 1
.product-card-v1 {
  .product-card-v1__title {
    font-size: 1.5rem;
    color: $dark;
    font-weight: 600;
    text-transform: uppercase;
  }
  .product-card-v1__price-container {
    .sale-price {
      margin-bottom: 0;
      line-height: 1;
      font-size: 2.25rem;
    }
    .regular-price {
      margin-top: -0.25rem;
      margin-bottom: 0;
    }
  }
}

// product card main
.product-item-main {
  background-color: $light;
  padding: 0.675rem;
  border-radius: 5px;
  border: 1px solid #f3ece3;

  .product-item-main__header {
    border-radius: 5px;
    overflow: hidden;
    .product-item-main__thumbnail-container {
      aspect-ratio: 33/31;
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.6s ease-in-out;
      }
    }
  }
  .product-item-main__body {
    background-color: #fff;
    border-radius: 5px;
    padding: 0.75rem;
    margin-top: 0.5rem;

    .product-item-main__title {
      font-size: 1.0625rem;
      font-weight: 600;
      color: $dark;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0 0 0.675rem 0;

      &:hover {
        color: $secondary;
      }
    }
    .product-item-main__price-container {
      margin: 0 0 0.675rem 0;

      .sale-price {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1;
      }
      .regular-price {
        text-decoration: line-through;
        color: #555;
        margin-left: 0.5rem;
        line-height: 0.5;
        font-weight: 600;
      }
    }
    .product-item-main__btn--add-to-cart {
      padding: 0.9375rem 1.5rem;
      font-size: 0.9375rem;
    }
  }

  &:hover {
    .product-item-main__header {
      .product-item-main__thumbnail-container {
        img {
          transform: scale(1.15);
        }
      }
    }
  }
}
