.swiper-button-prev,
.swiper-button-next {
  background-color: $secondary !important;
  color: #fff !important;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;

  &:after {
    font-size: 1.5rem;
  }
}
