@import "../../vendors/bootstrap/scss/functions";
// custom variables

//colors
$primary: #600033;
$secondary: #bd7f02;
$light: #fcf8f3;
$dark: #080808;
$border-color: #897e6f;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1200px,
  xxl: 1400px,
);

// containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// borders
$border-radius-pill: 30px;
$box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

// buttons
$btn-padding-y: 20px;
$btn-padding-x: 32px;
$btn-font-family: "Montserrat", sans-serif;
$btn-font-size: 16px;
$btn-white-space: "nowrap";
$btn-link-color: #fff;
$btn-link-hover-color: #fff;
$btn-border-width: 2px;
$btn-line-height: 1;
$btn-border-radius: 30px;
$btn-font-weight: 500;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

$border-radius: 0.3125rem;

@import "../../vendors/bootstrap/scss/variables";
@import "../../vendors/bootstrap/scss/mixins";

// Create your own map
$custom-colors: (
  "para": #323234,
  "light2": #ebe1d4,
  "lightMuted": #fcf8f3,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
@import "../../vendors/bootstrap/scss/bootstrap-utilities.scss";
@import "../../vendors/bootstrap/scss/root";
@import "../../vendors/bootstrap/scss/reboot";
@import "../../vendors/bootstrap/scss/type";
@import "../../vendors/bootstrap/scss/images";
//@import "../../vendors/bootstrap/scss/code";
@import "../../vendors/bootstrap/scss/containers";
@import "../../vendors/bootstrap/scss/grid";
@import "../../vendors/bootstrap/scss/tables";
@import "../../vendors/bootstrap/scss/forms";
@import "../../vendors/bootstrap/scss/buttons";
@import "../../vendors/bootstrap/scss/offcanvas";
//@import "../../vendors/bootstrap/scss/transitions";
//@import "../../vendors/bootstrap/scss/dropdown";
//@import "../../vendors/bootstrap/scss/button-group";
//@import "../../vendors/bootstrap/scss/input-group";
//@import "../../vendors/bootstrap/scss/custom-forms";
@import "../../vendors/bootstrap/scss/nav";
//@import "../../vendors/bootstrap/scss/navbar";
//@import "../../vendors/bootstrap/scss/card";
@import "../../vendors/bootstrap/scss/breadcrumb";
@import "../../vendors/bootstrap/scss/pagination";
//@import "../../vendors/bootstrap/scss/badge";
//@import "../../vendors/bootstrap/scss/jumbotron";
//@import "../../vendors/bootstrap/scss/alert";
//@import "../../vendors/bootstrap/scss/progress";
//@import "../../vendors/bootstrap/scss/media";
//@import "../../vendors/bootstrap/scss/list-group";
//@import "../../vendors/bootstrap/scss/close";
@import "../../vendors/bootstrap/scss/modal";
//@import "../../vendors/bootstrap/scss/tooltip";
//@import "../../vendors/bootstrap/scss/popover";
//@import "../../vendors/bootstrap/scss/carousel";
//@import "../../vendors/bootstrap/scss/print";
