.font-serif {
  font-family: $fontSerif;
}
.text-sm {
  font-size: 0.9375rem;
}
.text-xs {
  font-size: 0.875rem;
}
.text-xxs {
  font-size: 0.75rem;
}
.fw-semibold {
  font-weight: 600;
}
.fw-medium {
  font-weight: 500;
}
.fit-cover {
  object-fit: cover;
}
.fit-contain {
  object-fit: contain;
}

.light--link {
  color: #fff;

  &:hover {
    color: $secondary;
  }
}
