// Who are we section
.who-are-we-section {
  .grid-container {
    display: grid;
    .grid-item {
      margin: 0 0 1rem 0;
      &.grid-item--text-block-1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.6)), url(../images/about-grid-1-bg.webp);
        @include backgroundImgSetting(center, cover, no-repeat);
        position: relative;
        order: 1;

        h1 {
          text-align: center;
          padding: 1.5rem 1rem;
          font-size: 2rem;

          span {
            font-size: 1.15rem;
          }
        }
      }
      &.grid-item--text-block-2 {
        padding: 1.5rem 1rem;
        order: 3;
      }
      &.grid-item--text-block-3 {
        padding: 1.5rem 1rem;
        order: 5;

        .text-1 {
          &::first-letter {
            font-size: 2.5rem;
            color: $secondary;
          }
        }
      }
      &.grid-item--img-block {
        height: 250px;

        img {
          object-fit: cover;
        }
      }
      &.grid-item--img-block-1 {
        order: 2;
      }
      &.grid-item--img-block-2 {
        order: 4;
      }
      &.grid-item--img-block-3 {
        order: 6;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .who-are-we-section {
    .grid-container {
      .grid-item {
        &.grid-item--text-block-2 {
          h3 {
            font-size: 1.5rem;
          }
        }
        &.grid-item--text-block-3 {
          h1 {
            font-size: 2.25rem;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .who-are-we-section {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3, 230px);
      gap: 1rem;

      .grid-item {
        margin: 0;

        &.grid-item--text-block-1 {
          grid-area: 1/1/4/4;
          h1 {
            white-space: nowrap;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            font-size: 3.125rem;
            line-height: 0.75;

            span {
              font-size: 1.35rem;
            }
          }
        }
        &.grid-item--text-block-2 {
          grid-area: 1/4/2/9;
          padding: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.grid-item--text-block-3 {
          grid-area: 2/8/4/13;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            font-size: 0.9rem;
          }
        }
        &.grid-item--img-block {
          height: auto;
          img {
            object-fit: cover;
          }
        }
        &.grid-item--img-block-1 {
          grid-area: 1/9/2/13;
        }
        &.grid-item--img-block-2 {
          grid-area: 2/4/3/8;
        }
        &.grid-item--img-block-3 {
          grid-area: 3/4/4/8;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .who-are-we-section {
    .grid-container {
      grid-template-rows: repeat(3, 200px);
      .grid-item {
        .grid-item--text-block-3 {
          p {
            font-size: 0.9375rem;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xxl) {
  .who-are-we-section {
    .grid-container {
      .grid-item {
        &.grid-item--text-block-1 {
          h1 {
            font-size: 4.5rem;

            span {
              font-size: 1.5rem;
            }
          }
        }
        &.grid-item--text-block-2 {
          h3 {
            font-size: 1.875rem;
          }
        }
        &.grid-item--text-block-3 {
          h1 {
            font-size: 3rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
// Who what section
.who-what-section {
  h1 {
    z-index: 3;
  }
  .img-text {
    margin-top: -3rem;
    z-index: 2;
  }
}

// Journey Section
.journey-section {
  .img-text {
    margin-top: -3rem;
  }
  .members-grid {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 0.75rem;
    animation: slidingLeft 12s linear infinite;

    @keyframes slidingLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-200px * 2.5));
      }
    }

    .member {
      background-color: $primary;
    }
  }
}

// Achivement Section
.achivement-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7)), url(../images/achivement-section-bg.webp);
  @include backgroundImgSetting(center, cover, no-repeat);

  .block {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    height: 100%;
    text-align: center;

    .block__header {
      margin: 0 0 1rem 0;
      img {
        width: 200px;
        display: inline-block;
      }
    }
    .block__body {
      h5 {
        font-size: 0.9375rem;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .achivement-section {
    .block {
      .block__body {
        h5 {
          font-size: 1.0625rem;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .achivement-section {
    h1 {
      font-size: 3.125rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        right: -90px;
        width: 72px;
        height: 12px;
        background-color: $secondary;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        left: -90px;
        width: 72px;
        height: 12px;
        background-color: $secondary;
      }
    }

    .block {
      text-align: left;

      .block__body {
        h5 {
          font-size: 1.15rem;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .achivement-section {
    h1 {
      font-size: 4rem;

      &:before {
        top: 28px;
      }
      &:after {
        top: 28px;
      }
    }
    .block {
      .block__body {
        h5 {
          font-size: 1.25rem;
        }
      }
    }
  }
}
@include media-breakpoint-up(xxl) {
  .achivement-section {
    h1 {
      font-size: 4.5rem;

      &:before {
        top: 32px;
      }
      &:after {
        top: 32px;
      }
    }
  }
}
