/* Ecommerce Styles - Cart Page */
.cart-data-table {
  width: 680px;
  border: 1px solid $border-color;
  border-radius: 5px;
  tr {
    border-bottom: 1px solid $border-color;
  }
  thead {
    tr {
      th {
        border: none;
        font-size: 0.9375rem;
      }
    }
  }
  td {
    padding: 0.5rem;
    vertical-align: middle;
  }
  th {
    padding: 0.5rem;
    vertical-align: middle;
  }
  .cart-data-table__product {
    color: $dark;
    &:hover {
      text-decoration: underline;
      color: $secondary;
    }
    .cart-data-table__product-image {
      width: 40px;
      border: 1px solid $border-color;
      aspect-ratio: 33/31;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
  .cart-data-table__button--remove-row {
    color: $danger;
    text-decoration: underline;
  }
}
.cart-data-table__button--clear-total-items {
  color: $danger;
  &:hover {
    color: $danger;
  }
}
.empty-cart-text {
  color: $danger;
}
.cart-summary {
  .cart-summary__cta-button-container {
    margin-bottom: -2.5rem;
  }
}

@media (min-width: 768px) {
  .cart-data-table {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .cart-data-table {
    thead {
      tr {
        th {
          font-size: 1rem;
        }
      }
    }
    td {
      padding: 0.875rem;
    }
    th {
      padding: 0.875rem;
    }
  }
}
