.checkout-steps {
  .checkout-step__header {
    .checkout-step__step-count {
      width: 36px;
      height: 36px;
      background: var(--bs-para);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #fff;
      border-radius: 50%;
      z-index: 2;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 2px;
      background: var(--bs-para);
      -webkit-transition: width 1.5s ease-in-out;
      -o-transition: width 1.5s ease-in-out;
      transition: width 1.5s ease-in-out;
      width: 100%;
      z-index: 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 2px;
      background: var(--bs-para);
      -webkit-transition: width 1.5s ease-in-out;
      -o-transition: width 1.5s ease-in-out;
      transition: width 1.5s ease-in-out;
      left: 25%;
      z-index: 1;
      width: 50%;
      background: $secondary;
    }
    .checkout-step {
      position: relative;
      z-index: 5;
      .checkout-step__heading-prefix {
        position: absolute;
        top: -38px;
        left: -36px;
        background: var(--bs-para);
        color: #fff;
        padding: 0.25rem 0.5rem;
        border-radius: $border-radius;
        width: 106px;
        text-align: center;
        -webkit-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 8px;
          height: 8px;
          background: var(--bs-para);
          top: calc(100% + 1px);
          -webkit-transform: rotate(45deg) translate(-50%, -50%);
          -ms-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
          left: 49px;
        }
      }
    }
    .checkout-step.active {
      .checkout-step__heading-prefix {
        &::after {
          background: $secondary;
        }
        background: $secondary;
      }
      .checkout-step__step-count {
        background: $primary;
      }
    }
  }
  .checkout-step__header[data-stepcompleted="2"] {
    &::after {
      left: 50%;
      width: 100%;
    }
  }
  .checkout-step__content {
    .address-container {
      .address-saved-list {
        .address-saved-list__item {
          margin: 0 0 1.25rem 0;
          &:last-child {
            margin: 0;
          }
          > div {
            position: relative;
            border-radius: $border-radius;
            cursor: pointer;
          }
          .address-saved-list__item--select-btn {
            color: var(--bs-para);
            font-size: 0.9rem;
            padding: 0.25rem;
            position: absolute;
            top: 6px;
            right: 6px;
            opacity: 1;
          }
        }
        .address-saved-list__item.selected {
          .address-saved-list__item--select-btn {
            color: $primary;
          }
        }
      }
    }
    .address-saved-list__item.selected {
      > div {
        border: 1px solid $primary;
        outline: 1px solid $primary;
      }
    }
    .payment-methods-container {
      a {
        font-size: 0.9375rem;
        line-height: 1em;
      }
      a.payment-method__button--cod {
        &:hover {
          text-decoration: underline;
          color: $secondary;
        }
      }
      display: none;
    }
    .payment-method__button--online-payment {
      padding: 0.75rem 1.875rem;
    }
    .payment-methods-container.active {
      display: block;
    }
  }
}
.offcanvas {
  .offcanvas-body {
    .add-address-form {
      label {
        margin: 0 0 0.5rem 0;
        color: $dark;
      }
      label.error {
        color: $danger;
        margin: 0.25rem 0 0 0;
        font-size: 0.9375rem;
      }
      input {
        color: $dark;
      }
      textarea {
        color: $dark;
      }
    }
  }
}
.cart-summary {
  .cart-summary__cta-button-container {
    margin: 0 0 -2.5rem 0;
  }
}

@media (min-width: 768px) {
  .checkout-steps {
    .checkout-step__content {
      .payment-methods-container {
        a {
          font-size: 1rem;
        }
        a.payment-method__button--cod {
          font-size: 1.15rem;
        }
      }
    }
  }
}

.order-summary {
  padding: 1.25rem 0 0 0;
  .order-summary__subtotal-container {
    &:first-child {
      border-bottom: 1px solid $border-color;
      padding-bottom: 0.75rem;
    }
    .shipping-charge__prefix {
      font-weight: 400;
    }
    padding: 0 1.25rem;
  }
  .coupan-code-input-container {
    input {
      padding: 0.6375rem 0.75rem 0.6375rem 3rem;
      border-radius: $border-radius;
      width: 100%;
      border: 1px solid $border-color;
      color: $primary;
      font-size: 0.9375rem;
      &:focus {
        border: 1px solid $secondary !important;
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: var(--bs-para);
      }
      &::-moz-placeholder {
        color: var(--bs-para);
      }
      &:-ms-input-placeholder {
        color: var(--bs-para);
      }
      &::-ms-input-placeholder {
        color: var(--bs-para);
      }
      &::placeholder {
        color: var(--bs-para);
      }
    }
    img {
      position: absolute;
      top: 10px;
      left: 30px;
    }
    padding: 0 1.25rem;
  }
  .order-summary__product-preview-container {
    .product-preview {
      margin: 0 0 0.5rem 0;
      .product-preview--link {
        aspect-ratio: 33/31;
        max-width: 40px;
        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
    padding: 0 1.25rem;
  }
  .order-summary__heading {
    padding: 0 1.25rem;
  }
  .order-summary__total-container {
    padding: 0.75rem 1.25rem;
    border-top: 1px solid $border-color;
  }
  .order-summary__button--checkout {
    margin: 0 0 -1.5rem 0;
  }
}

.add-address-form {
  .form__input {
    &:focus {
      border: 1px solid $secondary !important;
      outline: 1px solid $secondary !important;
    }
  }
}
