// Hero Section
.hero-section,
.products-slider-section {
  .swiper {
    padding-bottom: 3.5rem;
  }
}
@include media-breakpoint-up(md) {
  .hero-section,
  .products-slider-section {
    .swiper {
      padding-bottom: 0;
      .swiper-pagination {
        display: none;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .hero-section,
  .products-slider-section {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}

// Category Section
.category-section {
  .category-block-container {
    height: 450px;
  }
  .category-block {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.9s ease-in-out;
      transform: scale(1.0125);
    }
    .category-block__link-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.35rem;
      padding: 0.5rem 1rem;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10;
      color: #fff;
      width: 80%;
      text-align: center;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .category-section {
    .category-block {
      .category-block__link-text {
        font-size: 1.5rem;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .category-section {
    .category-block {
      .category-block__link-text {
        font-size: 1.875rem;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .category-section {
    .category-block {
      .category-block__link-text {
        width: auto;
      }
    }
  }
}

// Recommended Section - Category Section
.recommended-section {
  .category-block-container {
    .category-block {
      .category-block__header {
        .category-block__thumbnail {
          overflow: hidden;
          margin-bottom: 0;
          position: relative;
          a {
            img {
              max-width: 80%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(1);
              display: inline-block;
              transition: transform 0.6s ease-in-out;
            }
            &:hover {
              img {
                transform: translate(-50%, -50%) scale(1.15);
              }
            }
          }
        }
      }
      .category-block__body {
        padding: 1rem;
        text-align: center;
        .category-block__title {
          font-size: 1.5rem;
          color: $dark;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
    &:nth-child(1) {
      .category-block {
        .category-block__header {
          background: #f1d5c7;
        }
        .category-block__body {
          background: #fce9df;
        }
      }
    }
    &:nth-child(2) {
      .category-block {
        .category-block__header {
          background: #c6d4d7;
        }
        .category-block__body {
          background: #daeaed;
        }
      }
    }
    &:nth-child(3) {
      .category-block {
        .category-block__header {
          background: #dbc9c9;
        }
        .category-block__body {
          background: #f0dddd;
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .recommended-section {
    .category-block-container {
      .category-block {
        .category-block__body {
          .category-block__title {
            font-size: 1.625rem;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .recommended-section {
    .category-block-container {
      .category-block {
        .category-block__body {
          .category-block__title {
            font-size: 1.75rem;
          }
        }
      }
    }
  }
}

// Quick About Section
.quick-about-section {
  position: relative;
  .content-block {
    padding: 0 0.5rem 3.125rem 0.5rem;
    position: relative;

    h3 {
      line-height: 1.4;
    }
  }
}
@include media-breakpoint-up(lg) {
  .quick-about-section {
    .content-block {
      padding: 13rem 7rem 2.5rem 7rem;
      background-image: url(../images/door-icon-2.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      h3 {
        line-height: 1.5;
      }
    }
  }
}
@include media-breakpoint-up(xxl) {
  .quick-about-section {
    .content-block {
      padding: 13rem 8rem 2.5rem 8rem;
    }
  }
}

// Why choose us section
.why-choose-us-section {
  .why-us__img-block {
    position: relative;
    margin-bottom: 4.25rem;

    img {
      position: relative;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      right: -10px;
      width: 100%;
      height: 100%;
      background-color: $secondary;
    }
  }
  .icon-box {
    margin: 0 0 1.5rem 0;

    .icon-box__header {
      flex-wrap: wrap;

      .icon-box__icon {
        width: 48px;
      }
      .icon-box__title {
        width: calc(100% - 48px);
        margin-top: 0.25rem;
        font-size: 1rem;
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .why-choose-us-section {
    .why-us__img-block {
      &:before {
        top: 40px;
        right: -40px;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .why-choose-us-section {
    .icon-box {
      .icon-box__header {
        .icon-box__title {
          font-size: 1.15rem;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .why-choose-us-section {
    .why-us__img-block {
      margin-bottom: 0;
    }
  }
}

// Stat Section
.stat-section {
  .stat-block {
    h5 {
      font-size: 1.15rem;
    }
  }
}
@include media-breakpoint-up(sm) {
  .stat-section {
    .stat-block {
      h5 {
        font-size: 1rem;
        min-height: 45px;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .stat-section {
    .stat-block {
      h5 {
        font-size: 1.15rem;
        min-height: auto;
      }
    }
  }
}
