/* Login Page & Sign Up Page */
.user-action-section {
  .form {
    .form__field {
      .button--show-password {
        top: calc(50% - 18px);
      }
    }
  }
  .container {
    z-index: 10;
  }
  .form-container {
    z-index: 9;
    position: relative;
    .form-container__img-col {
      aspect-ratio: 1/1;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .user-action-section {
    .form-container {
      .form-container__img-col {
        aspect-ratio: 3/2;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .user-action-section.user-action-section--register {
    .form-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      .form-container__img-col {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
        border-radius: 0 5px 5px 0;
      }
    }
  }
  .user-action-section {
    .form-container {
      .form-container__img-col {
        aspect-ratio: 1/1;
      }
    }
  }
  .user-action-section.user-action-section--login {
    .form-container {
      .form-container__img-col {
        -webkit-clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
        border-radius: 5px 0 0 5px;
      }
      .form-container__content-col {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}
