.product-single-section {
  .product-single-swiper-thumb {
    .swiper-wrapper {
      .swiper-slide {
        cursor: pointer;
      }
    }
  }
  .product-single-swiper-view {
    .swiper-button-next {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.5rem 1.25rem;

      &:after {
        font-size: 2rem;
      }
    }
    .swiper-button-prev {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.5rem 1.25rem;

      &:after {
        font-size: 2rem;
      }
    }
  }
  .product-single__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.875rem;
  }
  .product-single__price-container {
    .product-single__regular-price {
      text-decoration: line-through;
      margin-left: 0.75rem;
    }
    .product-single__sale-price {
      font-size: 1.875rem;
      line-height: 1;
    }
    .product-single__discount-value {
      color: #63861f;
      font-weight: 600;
    }
  }
  .product-single__review-stars {
    i {
      color: rgb(218, 114, 30);
    }
  }
  .key-highlights {
    .key-highlight-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      .key-highlight-item__prefix {
        font-size: 1.25rem;
        width: 32px;
      }
      .key-highlight-item__text {
        color: $dark;
        font-size: 1rem;
        width: calc(100% - 32px);
      }
    }
  }
  .product-single__short-desc {
    border-bottom: 1px solid $border-color;
  }
  .product-single__in-stock-value {
    font-size: 1rem;
  }
  .product-single__cta--wishlist {
    position: relative;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: $secondary;
    background: $light;
    border: 1px solid $secondary;
    border-radius: 50%;
    font-size: 1.15rem;
    &:hover {
      background: $secondary;
      border: 1px solid $secondary;
      color: #fff;
      .tooltip-text {
        top: -36px;
        opacity: 1;
        pointer-events: auto;
      }
    }
    i {
      margin-bottom: -4px;
    }
  }
  .tooltip-text {
    position: absolute;
    top: -30px;
    font-size: 0.9rem;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    background: $primary;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &::after {
      content: "";
      width: 6px;
      height: 6px;
      background: $primary;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
      top: 100%;
      position: absolute;
      left: 50%;
    }
  }
  .product-single__meta-info {
    .site-facility-block {
      .site-facility-block__icon {
        i {
          font-size: 1.25rem;
        }
      }
    }
  }
  .product-single__social-sharing {
    .social-sharing__item {
      .social-sharing__item--link {
        position: relative;
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: $primary;
        font-size: 1.5rem;
        &:hover {
          .tooltip-text {
            opacity: 1;
            pointer-events: auto;
            top: -34px;
          }
        }
      }
      .social-sharing__item--link.fb--link {
        color: #567fbc;
      }
      .social-sharing__item--link.twitter--link {
        color: #1d9bf0;
      }
      .social-sharing__item--link.whatsapp--link {
        color: #00a884;
      }
    }
  }
  .product-single__tags {
    a {
      color: $secondary;
      padding-right: 0.5rem;
      text-decoration: underline;
      &:hover {
        color: $primary;
      }
      &::after {
        content: "/";
        position: absolute;
        color: var(--colorPara);
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
  .product-single__inner-section-heading {
    padding: 0 0 0.75rem 0;
    border-bottom: 1px solid $border-color;
    margin: 0 0 1rem 0;
  }
  .product-single__description {
    ul {
      margin: 0 0 1rem 1.0625rem;
      list-style-type: disc !important;
      li {
        list-style-type: disc !important;
        color: var(--colorPara);
        line-height: 150%;
      }
    }
  }
  .product-single__addi-info {
    ul {
      margin: 0 0 1rem 1.0625rem;
      list-style-type: disc !important;
      li {
        list-style-type: disc !important;
        color: var(--colorPara);
        line-height: 150%;
      }
    }
  }
  .product-single__review-detailed-container {
    .product-single__review-item {
      .review-item__profile-img-container {
        width: 120px;
        .review-item__profile-img {
          max-width: 100px;
          border-radius: 50%;
        }
      }
      .review-item__content {
        width: calc(100% - 120px);
        .review-item__profile-title {
          font-weight: 500;
        }
        .review-item__stars-container {
          i {
            color: rgb(245, 161, 35);
          }
        }
      }
      margin: 0 0 1.5rem 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  .product-single-info-tab {
    .product-single__tab {
      .nav {
        .nav-link {
          color: $dark;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.0625rem;
          padding: 0 1rem 1rem 1rem;
          -webkit-transition: border 0s ease;
          -o-transition: border 0s ease;
          transition: border 0s ease;
          border: 0;
          background: transparent;
          position: relative;
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background: $secondary;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
          }
          &:hover {
            border: 0;
          }
        }
        .nav-link.active {
          &::before {
            opacity: 1;
          }
        }
      }
      .nav-link-slider {
        height: 3px;
        background: var(--colorAccent);
        position: absolute;
        bottom: 0;
        width: 115px;
        left: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
    .tab-content {
      .tab-pane {
        padding: 1.5rem 0;
      }
    }
    .nav-tabs {
      border-bottom: 1px solid $border-color;
    }
  }
  .accordion-container {
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
    > h2 {
      text-align: center;
      color: #fff;
      padding-bottom: 0.35rem;
      margin-bottom: 1.25rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $border-color;
    }
  }
  .set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: light;
    > a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: $dark;
      font-weight: 600;
      border-bottom: 1px solid $border-color;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      i {
        float: right;
        margin-top: 2px;
      }
    }
    > a.active {
      background-color: $primary;
      color: $dark;
    }
  }
  .content {
    background-color: #fff;
    border-bottom: 1px solid $border-color;
    display: none;
    p {
      padding: 0.75rem;
      margin: 0;
      color: var(--colorPara);
    }
  }
  .product-single__quantity-button-wrapper {
    width: 100%;
  }
  .review-block {
    margin: 0 0 1.25rem 0;
    &:last-child {
      margin: 0;
    }
    .review-block__profile-img-container {
      width: 80px;
      height: 80px;
      img {
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .review-block__content {
      .review-block__header {
        border-bottom: 1px solid $border-color;
      }
      width: 100%;
      .review-block__profile {
        color: $dark;
      }
      .review-block__date {
        color: var(--colorPara);
      }
    }
  }
  .product-single__color-wrapper {
    a {
      padding: 0.125rem;
      border: 1px solid $border-color;
      margin-right: 0.25rem;
      span {
        width: 16px;
        height: 16px;
        display: block;
      }

      &.active {
        border: 2px solid $secondary;
      }
    }
  }
  .swiper-slide {
    aspect-ratio: 2/3;
    height: auto !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
 .btn--thumbnails-mp {
    position: absolute;
    bottom: 12px;
    right: 24px;
    z-index: 10;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.55);
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
  }
}

.divider-block {
  .custom-divider {
    width: 100%;
    height: 1px;
    background: $border-color;
  }
}

.you-may-like-section {
  .products-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.875rem;
  }
}

.quantity-generating-input-container {
  border-radius: 30px;
  border: 1px solid $border-color;
  display: inline-block;
  .qty {
    width: 40px;
    height: 25px;
    text-align: center;
    background: transparent;
    border: none;
    pointer-events: none;
    font-weight: 600;
  }
  input.qtyplus {
    width: 42px;
    height: 48px;
    background: transparent;
    border: none;
    border: 1px solid $border-color;
    border-width: 0 0 0 1px;
  }
  input.qtyminus {
    width: 42px;
    height: 48px;
    background: transparent;
    border: 1px solid $border-color;
    border-width: 0 1px 0 0;
  }
}

@include media-breakpoint-up(sm) {
  .you-may-like-section {
    .products-grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.875rem;
    }
  }
}
@include media-breakpoint-up(md) {
  .product-single-section {
    .review-block {
      .review-block__content {
        width: calc(100% - 80px);
      }
    }
  }
  .you-may-like-section {
    .products-grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem 1.5rem;
    }
  }
}
@include media-breakpoint-down(lg) {
}
@include media-breakpoint-up(lg) {
  .you-may-like-section {
    .products-grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .product-single-section {
    .thumb-view-container {
      margin-left: 80px;
    }
    .xzoom-thumbs {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 80px;
      margin: -0.5rem -0.25rem 0 -0.25rem;
      display: block;
    }
  }
}
@include media-breakpoint-up(xl) {
  .product-single-section {
    .prouduct-single__thumbnail-image-gallery {
      .product-single-swiper-thumb {
        .swiper-wrapper {
          .swiper-slide {
            width: 100% !important;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
    .product-single__quantity-button-wrapper {
      width: auto;
    }
    .product-single__meta-info {
      .site-facility-blocks-wrapper {
        border-right: 1px solid $border-color;
      }
    }
    .product-single__in-stock-value {
      font-size: 1.15rem;
    }
  }
}
