.products-grid-section {
  .products-grid__top {
    margin-bottom: 2.5rem;

    .form-select {
      max-width: 200px;
    }
  }
  .filters-wrapper {
    display: none;

    .products-grid__filter {
      padding-right: 2.5rem;
      .filter-item {
        h3 {
          margin: 0 0 2.5rem 0;
          position: relative;
          display: inline-block;

          &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 100%;
            height: 2px;
            background: $secondary;
          }
        }
        .form-check {
          margin: 0 0 0.75rem 0;
          label {
            font-weight: 600;
          }
        }
        &.filter-item--price-range {
          max-width: 300px;
        }
      }
      .ui-slider-horizontal {
        width: 100%;
      }
      .ui-slider {
        .ui-slider-handle {
          border-radius: 50%;
          top: -8px;
        }
      }
      .ui-state-default {
        background: #333;
        border: none;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
      }
      .ui-widget-content {
        border: 0;
        background: $dark;
        height: 3px;

        .ui-state-default {
          background: $primary;
          border: none;
          -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        }
      }
      .ui-widget-header {
        background: $dark;
        .ui-state-default {
          background: $primary;
          border: none;
          -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        }
        background: $primary;
      }
      .ui-button {
        background: $primary;
        border: none;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
      }
      .ui-button.ui-state-disabled {
        &:hover {
          background: $primary;
          border: none;
          -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        }
        &:active {
          background: $primary;
          border: none;
          -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        }
      }
      .price-range-field {
        width: 40%;
        display: inline-block;
        font-size: 1.0625rem;
        font-weight: 600;
        color: $secondary;
      }
    }
  }
  .products-grid__main {
    .products-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1.875rem 0.75rem;
    }
    .pagination {
      .page-item {
        margin: 0 0.125rem;
        .page-link {
          border: 0;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: $dark;
          box-shadow: none;

          &:hover {
            background: $light;
          }
        }
        &.active {
          .page-link {
            background: $secondary;
            color: #fff;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .products-grid-section {
    .products-grid__main {
      .products-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .products-grid-section {
    .products-grid__top {
      margin-bottom: 3.25rem;
    }
    .products-grid__main {
      .products-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem 1rem;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .products-grid-section {
    .products-grid__top {
      margin-bottom: 4rem;
    }
    .products-grid__main {
      .products-grid {
        grid-gap: 2.25rem 1.5rem;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .products-grid-section {
    .products-grid__top {
      margin-bottom: 2.5rem;
    }
    .filters-wrapper {
      display: block;
    }
  }
}
@include media-breakpoint-up(xxl) {
  .products-grid-section {
    .products-grid__top {
      margin-bottom: 6.25rem;
    }
  }
}
