/* Ecommerce - Wishlist Page */
/* Wishlist page */
.wishlist-table {
  vertical-align: middle;
  width: 720px;
  thead {
    border: 0;
    tr {
      border: 1px solid $border-color;
    }
  }
  tbody {
    tr {
      border: 1px solid $border-color;
      th {
        border-bottom: 0;
        padding: 0.875rem;
      }
      td {
        padding: 0.875rem;
      }

      .wishlist-product--link {
        width: 40px;
        display: block;
        aspect-ratio: 33/31;
        border: 1px solid $border-color;
        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      .wishlist-product__btn--add-to-cart {
        padding: 0.75rem 1.25rem;
        font-size: 0.9375rem;
      }
      .wishlist-product__btn--remove {
        color: $danger;
        &:hover {
          color: $danger;
        }
      }
      .wishlist-product-container {
        .wishlist-product__title {
          font-weight: 600;
          a {
            color: $dark;
            &:hover {
              color: $secondary;
              text-decoration: underline;
            }
          }
        }
        .wishlist-product__price-container {
          .price-sale {
            font-weight: 600;
          }
          .price-regular {
            text-decoration: line-through;
          }
        }
      }
      .wishlist-product__availablity-status.wishlist-product__availablity-status--in-stock {
        background: $success;
      }
      .wishlist-product__availablity-status.wishlist-product__availablity-status--out-of-stock {
        background: $danger;
      }
      .wishlist-product__button--add-to-cart {
        padding: 0.6375rem 1.5rem;
        font-size: 0.9rem;
      }
    }
  }
}
.wishlist-table__btn--clear-total-items {
  color: $danger;
  &:hover {
    color: $danger;
  }
}
.wishlist-section__cta-wrapper {
  a {
    font-size: 0.9375rem;
  }
}
@include media-breakpoint-up(md) {
  .wishlist-table {
    width: 100%;
    .wishlist-product__btn--add-to-cart {
      font-size: 0.9375rem;
    }
  }
}
@include media-breakpoint-up(lg) {
  .wishlist-section__cta-wrapper {
    a {
      font-size: 1rem;
    }
  }
}
